.who{
    column-count: 2;
    display: inline-block;
}

.test {
    color: white;
    font-size: 150%;

}

button.test {
    align-items: center;    
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*! Gallery on Homepage */

.row {
    margin: 0px;
}


.column {
    width: auto;
    max-width: 23%;
    background-color: darkgrey;
    display: inline-block;
    border: 7px solid white;
}

.column:hover {
    background-color: teal;
}

.content {
    padding: 0px;
    margin-bottom: 5px;
}


/*! Gallery on Homepage */


.content > h3 {
    font-size: 30px;
    font-family: RalewayThin;
    color: white;
    margin-top: 5px;
    margin: 10px;
}

.content > p {
    color: white;
    padding-left: 10px;
}

/*! Gallery on Homepage */

@media screen and (max-width: 900px) {
    .column {
        width: 70%;
        border: 5px solid white;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 90%;
    }
}
