
h1 {
    color: black;
}

dl {
    padding: 2rem 0;
    width: auto;
    display: flex;
    background-image: linear-gradient(90deg, #0099F7,#2980b9);
    font-size: 3rem;
    color: white;
}

dd {
    font-size: 2rem;
}

li {
    font-size: 2rem;
}



p {
    padding: 10px;
    font-size: 2rem;
}

.resumesection {
    display: flex;
}

.resumesection img {
    display: block;
    width: 10%;
    
}


.experiencetitle h2 {
    font-size: 2rem;
    color: black;
    display: block;
    background-color: blue;
}


h2 {
    color: white;
}

.section {
    padding: 10px;
    background-color: beige;
}

#education {
    background-color: aqua;
}

#skills {
    background-color: green;
}

#technicalskills {
    background-color: red;
}

#relevantcoursework {
    background-color: yellow;
}

#relevantexperience {
    background-color: orange;
}