
h1 {
    color: black;
}

li {
    padding: 2rem 0;
    width: auto;
    font-size: 2rem;
    color: black;
}


p {
    padding: 10px;
    font-size: 2rem;
}

.resumesection {
    display: flex;
}

.resumesection img {
    display: block;
    width: 10%;
    height: auto;
}

.experiencetitle {
}

.experiencetitle h2 {
    font-size: 2rem;
    color: black;
    display: block;
}

.experiencetitle h3 {
    font-family: RalewayRegular;
    font-size: 2rem;
    color: black;
    margin: 10px;
    display: block;
}


.section {
    padding: 10px;
    background-color: beige;
}

#education {
    background-color:#3BCEAC;
}

#skills {
    background-color: #0EAD69;
}

#technicalskills {
    background-color: #ee4266;
}

#relevantcoursework {
    background-color:rgb(255, 210, 63);
}

#relevantexperience {
    background-color: #8D86C9;
}

#resume {
    position: relative;
    top: -7rem;
}

h1.resumetop {
    margin: auto;
    position: relative;
    top: -4rem;
    width: 50%;
    text-align: center;
}