/*! Header */
header {
    box-sizing: border-box;
    display: flex;
    padding: 10px;
    background-color: black;
}

/*! Dividers */


hr.dashed {
    border-top: 3px dashed #bbb;
    display: inline-block;
  }

.container {
    clear: both;
}

/*! Font */

@font-face {
    font-family: "RalewayRegular";
    src: url("fonts/Raleway-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "RalewayThin";
    src: url("fonts/Raleway-Thin.ttf") format("truetype");
}

/*! Navigation */

#logo {
    width: 50%;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

nav {
    margin: 0 auto;
    text-align: center;
    list-style: none;
}

nav ul {
    display: inline-block;
}

nav ul li {
    list-style-type: none;
    float: left;  
}

nav ul li a {
    font: 1rem, RalewayRegular;
    padding: 10px;
    margin: 0 30px;
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    display: block;
    border: 1px solid white;
    border-radius: 50px;
}

p {
    font: 1rem, RalewayRegular;
}

nav > ul > li:hover {
    color: lightblue;
    background-color: black;
}


/*! Footer */

footer {
    background-color: mediumseagreen;
    position: relative;
    font: 1rem, arial; 
    color: #ffffff;
    list-style: none;
    text-align: center;
}


.socialmedia > a {
    width: 20%;
    margin: 10px;
    padding: 10px;
    list-style-type: none;
    display: inline-block;
}

.foot > ul > li > a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    
}

/*! h1 */

h1 {
    font-size: 3rem;
    text-align: center;
    display: block;
    font: 2rem, RalewayRegular;
    color: #ffffff;
}

body {
    background-color: #343434;
    font-family: 'Arial', serif;
}


img {
    width: 100%;
    height: auto;
}

button {
    margin: 10px;
    border: 2px solid black;
    border-radius: 40px;
    color: black;
    padding: 10px;
    background-color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
}


/*Who Am I Page*/


.who {
    box-sizing: border-box;
    display: inline-block;
    background-color: white;
}

.who p {
    font: 2rem, Arial;
    text-align: center;
    font-size: 2rem;
}

.who h1 {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    object-fit: fill;
    font: 2rem, RalewayRegular;
    color: black;
}

img.portrait {
    clear: both;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    box-shadow: 5px 5px 5px black;
}

div.group {
    padding: 10px;
    margin: 0 20px;
}

/*! Featured on Homepage */

div.project img {
    border-radius: 10px;
    object-fit: scale-down;
}


/*! Gallery on Homepage */

.gallerycenter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

div.gallery {
    background-color: black;
}

div.gallery img {
    width: fit-content;
    max-width: 450px;
}

/*! Gallery on Tages (Applications Used for Portfolio) */

div.date {
    color: white;
    margin: 5px 10px;
    text-align: left;
    font: 2rem, RalewayRegular;
}

div.description {
    color: white;
    font-size: 24px;
    margin: 5px 10px;
    text-align: left;
    font: 2rem, RalewayRegular;
}

/*! Portfolio Gallery Navigation */

div.portfolioanchor {
    display: inline;
}


div.portfolioanchor ul li a {
    font: 30px, RalewayRegular;
    padding: 10px;
    margin: 0 30px;
    text-decoration: none;
    color: #ffffff;
    display: block;
    border: 1px solid white;
    border-radius: 50px;
}


/*! Gallery on Portfolio */

h1.portfolio {
    text-transform: uppercase;
    font: 100px, RalewayRegular;
    letter-spacing: 40px;
    text-align: center;
}

h2 {
    font: 5rem, RalewayRegular;
    font-size: 50px;
    margin: 10px;
    padding: 10px 0;
    color: white;
    display: inline-block;
}

/*! Portfolio Anchor*/

div.portfolioanchor {
    margin: 0 auto;
    text-align: left;
    list-style: inside;

}

div.portfolioanchor ul {
    display: block;
    text-align: left;
}

div.portfolioanchor ul li {
    list-style-type: none;
    margin: 10px;
    text-decoration: none;
}
    
div.portfolioanchor ul li a {
    font-family: RalewayRegular;
    padding: 10px;
    color: black;
    font-size: 30px;
    display: block;
}


/*! Containers */

.separators {
    height: 75px;
    position: relative;
}


.container {
    height: 200px;
    position: relative;
}


.buttoncontainer {
    margin: auto 0;
    height: 200px;
    position: relative;
}

.center {
    display: inline-block;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    left: 25%;
}

/*Lines */

.linebothside {
    text-align: left;
    display: block;
    grid-template-columns: 2fr auto 2fr;
    grid-template-rows: 20px 0;
    grid-gap: 20px;    
}

.linebothside:after {
    content: " ";
    display: block;
    border-bottom: 3px solid #ffffff;
}


