/*! Font */

@font-face {
    font-family: 'RalewayRegular';
    src: url('fonts/Raleway-Regular.ttf'); format('tff');
}


@font-face {
    font-family: 'RalewayThin';
    src: url('fonts/Raleway-Thin.ttf'); format('tff');
}


/*! Navigation */
nav {
    float: right;
}

#logo {
    width: fit-content;
    float: left;
}


ul li a {
    display: inline-block;

}

ul li a {
    font-family: RalewayRegular;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
}

nav > ul > li:hover {
    color: lightblue;
    background-color: black;
}



/*! Footer */

.foot {
    background-color: mediumseagreen;
    position: relative;
    font: arial; 
    color: #ffffff;
    list-style: none;
    text-align: center;
    margin: 20px @ 20px @ 20px @ 20px;
}

.foot > ul {
    display: inline-block;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.foot > ul > li > a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

/*! h1 */

h1 {
    font-family: RalewayRegular;
    color: #ffffff;
}

body {
    margin: 10px @ 10px @ 10px @ 10px;
    background-color: black;
    padding: 10px @ 10px @ 10px @ 10px;
    font-family: 'Arial', serif;
}

img {
    width: 100%;
    height: auto;
}

button {
    background-color: black; 
    border: none;
    color:#ffffff;
    padding: 15px @ 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
  }


/*! Gallery on Homepage */

.row {
    margin: 0px;
}

.column {
    size: 30%;
    background-color: darkgrey;
    display: inline-block;
    border: 7px solid white;
    float: center;

}

.column:hover {
    background-color: teal;
}

.content {
    padding: 0px;
    margin-bottom: 5px;
}

.content > h3 {
    font-size: 30px;
    font-family: RalewayThin;
    color: white;
    margin-top: 5px;
    margin: 10px;
}

.content > p {
    color: white;
    padding-left: 10px;
}

.content > img {
    width: 50%;
}

/*! Gallery on Homepage */

