/*! Dividers */

hr.dashed {
    border-top: 3px dashed #bbb;
    display: inline block;
  }

.container {
    clear:both;
}
/*! Font */

@font-face {
    font-family: 'RalewayRegular';
    src: url('fonts/Raleway-Regular.ttf'); format('tff');
}


@font-face {
    font-family: 'RalewayThin';
    src: url('fonts/Raleway-Thin.ttf'); format('tff');
}


/*! Navigation */
nav {
    margin: 0 auto;
    float: center;
    display: inline-block;
}

#logo {
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

nav ul {
    text-align: center;
    margin: 10px auto;
    display: inline-block
}

ul li {
    float: left;
}

ul li a {
    font-family: RalewayRegular;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    display: block;
}

p {
    font-family: RalewayRegular;
}

nav > ul > li:hover {
    color: lightblue;
    background-color: black;
}

/*! Footer */

footer {
    background-color: mediumseagreen;
    position: relative;
    font: arial; 
    color: #ffffff;
    list-style: none;
    text-align: center;
    margin: 20px @ 20px @ 20px @ 20px;
}

.foot > ul {
    display: inline-block;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.foot > ul > li > a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

/*! h1 */

h1 {
    display: block;
    font-family: RalewayRegular;
    color: #ffffff;
}


body {
    margin: 10px @ 10px @ 10px @ 10px;
    background-color: black;
    padding: 10px @ 10px @ 10px @ 10px;
    font-family: 'Arial', serif;
}

img {
    width: 100%;
    height: auto;
}

button {
    border: 5px solid black;
    border-radius: 40px;
    color: black;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
}

/*Who Am I Page*/


.who {
    display: inline-block;
    background-color: white;
}

.who p {
    text-align: center;
}

.who h1 {
    float: center;
    display: block;
    text-align: center;
    font-family: RalewayRegular;
    color: black;
}

img.portrait {
    clear: both;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    box-shadow: 10px 10px 5px black;
}


div.group {
    padding: 10px;
}

/*! Gallery on Homepage */

.gallerycenter {
    margin: 0 auto;
    text-align: center;
}



div.gallery {
    margin: 10px;
    float: left;
    width: 400px;
    justify-content: center;
    background-color: darkgrey;
}

/*! Containers */

.separators {
    height: 75px;
    position: relative;
}


.container {
    height: 200px;
    position: relative;
}

.center {
    margin: 0;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}