/* 
//.........................................................................................................................................................
//.....AAAAA.....BBBBBBBBB........OOOO......UUU.....UUU.TTTTTTTTTTT......MMMM.....MMMM..EEEEEEEEEE.......PPPPPPPP......AAAAA.........GGGGG.....EEEEEEEEEE..
//.....AAAAA.....BBBBBBBBBB.....OOOOOOOO....UUU.....UUU.TTTTTTTTTTT......MMMM.....MMMM..EEEEEEEEEE.......PPPPPPPPP.....AAAAA.......GGGGGGGGG...EEEEEEEEEE..
//.....AAAAA.....BBBBBBBBBBB...OOOOOOOOOO...UUU.....UUU.TTTTTTTTTTT......MMMMM...MMMMM..EEEEEEEEEE.......PPPPPPPPPP....AAAAA......GGGGGGGGGG...EEEEEEEEEE..
//....AAA.AAA....BBB.....BBB...OOO....OOO...UUU.....UUU.....TTT..........MMMMM...MMMMM..EEE..............PPP....PPP...AAA.AAA.....GGG....GGGG..EEE.........
//....AAA.AAA....BBB.....BBB..OOO......OOO..UUU.....UUU.....TTT..........MMMMM...MMMMM..EEE..............PPP....PPP...AAA.AAA....GGG......GG...EEE.........
//....AAA.AAA....BBBBBBBBBB...OOO......OOO..UUU.....UUU.....TTT..........MMM.MM.MM.MMM..EEEEEEEEEE.......PPPPPPPPPP...AAA.AAA....GGG...........EEEEEEEEEE..
//...AAA...AAA...BBBBBBBBB....OOO......OOO..UUU.....UUU.....TTT..........MMM.MM.MM.MMM..EEEEEEEEEE.......PPPPPPPPP...AAA...AAA...GGG...GGGGGG..EEEEEEEEEE..
//...AAAAAAAAA...BBBBBBBBBB...OOO......OOO..UUU.....UUU.....TTT..........MMM.MM.MM.MMM..EEEEEEEEEE.......PPPPPPPP....AAAAAAAAA...GGG...GGGGGG..EEEEEEEEEE..
//...AAAAAAAAA...BBB.....BBB..OOO......OOO..UUU.....UUU.....TTT..........MMM.MM.MM.MMM..EEE..............PPP.........AAAAAAAAA...GGG...GGGGGG..EEE.........
//..AAAAAAAAAAA..BBB.....BBB...OOO....OOO...UUUU...UUUU.....TTT..........MMM..MMM..MMM..EEE..............PPP........AAAAAAAAAAA...GGG.....GGG..EEE.........
//..AAA.....AAA..BBBBBBBBBBB...OOOOOOOOOO....UUUUUUUUU......TTT..........MMM..MMM..MMM..EEEEEEEEEE.......PPP........AAA.....AAA...GGGGGGGGGGG..EEEEEEEEEE..
//..AAA.....AAA..BBBBBBBBBB.....OOOOOOOO.....UUUUUUUUU......TTT..........MMM..MMM..MMM..EEEEEEEEEE.......PPP........AAA.....AAA....GGGGGGGGG...EEEEEEEEEE..
//.AAA.......AAA.BBBBBBBBB........OOOO.........UUUUU........TTT..........MMM...M...MMM..EEEEEEEEEE.......PPP.......PAA.......AAA.....GGGGG.....EEEEEEEEEE..
//.........................................................................................................................................................
*/

.aboutme h1{
    font-size: 3rem;
    display: block;
    text-align: center;
    padding: 20px;
    position: relative;
    color: black;
}

.name img {
    width: 100%;
}

.gradient {
    padding: 5px;
    background-image: linear-gradient(90deg, #0099F7,#2980b9);
}


.aboutgallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    width: auto;
}

.aboutgallery img {
    width: 100%;
}

