
.bg-image {
    background-image: url(../images/portraits/austinfullbody.jpg);
    filter: blur(10px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    margin-top: 10px;
}

.title h1 {
    position: relative;
    text-align: center;
    top: 10px;
    margin: 10px;
    display: block;
    color: white;
}

.title h3 {
    text-align: center;
    position: relative;
    font-size: 1.50rem;
    color: white;
    padding: 10px;
}

iframe {
    width: auto;
    display: block;
    margin: 0 auto;
}

.iframestrip {
    background-color: black;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

#adobexd iframe {
    position: relative;
    top: -6rem;
}

.iframestrip video {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}

.description {
    background-image: url(/images/portraits/austinfullbody.jpg);
    filter: blur(10px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.piecedescription p {
    text-align: center;
    color:white;
    font-family: RalewayRegular;
    padding: 3rem;
    font-size: 2.25rem;
}


.applicationsused {
    box-sizing: border-box;
    width: auto;
    background-color: white;
}

.applicationsused > h1 {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    object-fit: fill;
    font-family: RalewayRegular;
    color: black;
}


.appgallery {
    white-space: pre-line;
    overflow: auto;
    display: flex;
    clear: both;
    margin: 0 auto;
    text-align: center;
}

div.app {
    width: auto;
    padding: 10px;
    margin: 10px auto;
    float: left;
    padding: 10px;
    max-width: 250px;
    justify-content: center;
}


.application {
    font-size: 2rem;
}

div.app img {
    width: 45%;
}

div.return {
    background-color: black;
}

div.return a {
    font-size: 3rem;
    margin: 10px;
    font-family: RalewayRegular;
    padding: 10px;
    display: inline-block;
    color: white;
    text-decoration: none;
}

div.return img {
    position: relative;
    top: 25px;
    right: 10px;
    float: right;
    width: 60px;
}

.gallerybuttons {
    display: block;
    text-align: center;
    position: relative;
    color: black;
}

.rightbutton {
    width: 5rem;
    margin: 2rem 2rem;
    height: 5rem;
    background-color: transparent;
    color: white;
    border-radius: 50px;
    border: 5px solid white;
    
}
.leftbutton {
    width: 5rem;
    margin: 2rem 2rem;
    height: 5rem;
    background-color: transparent;
    color: white;
    border-radius: 50px;
    border: 5px solid white;
}

.gallerydescription {
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 3rem;
}

d1.border {
    background-color: black;
}

.breakdown {
    background-color: black;
}

.gradient {
    padding: 5px;
    background-color: black;
}

div.featdescription a {
    color: black;
    text-decoration: none;
}