/* //.....................................................................................................................................
//.RRRRRRRRR....EEEEEEEEEE....SSSSSS....UUU.....UUU..MMMM.....MMMM..EEEEEEEEEE.......PPPPPPPP......AAAAA.........GGGGG.....GEEEEEEEEE..
//.RRRRRRRRRR...EEEEEEEEEE...SSSSSSSS...UUU.....UUU..MMMM.....MMMM..EEEEEEEEEE.......PPPPPPPPP.....AAAAA.......GGGGGGGGG...GEEEEEEEEE..
//.RRRRRRRRRRR..EEEEEEEEEE..SSSSSSSSSS..UUU.....UUU..MMMMM...MMMMM..EEEEEEEEEE.......PPPPPPPPPP....AAAAA......GGGGGGGGGG...GEEEEEEEEE..
//.RRR.....RRR..EEE.........SSS....SSS..UUU.....UUU..MMMMM...MMMMM..EEE..............PPP....PPP...AAA.AAA.....GGG....GGGG..GEE.........
//.RRR.....RRR..EEE.........SSS.........UUU.....UUU..MMMMM...MMMMM..EEE..............PPP....PPP...AAA.AAA....AGG......GG...GEE.........
//.RRRRRRRRRRR..EEEEEEEEEE..SSSSSSS.....UUU.....UUU..MMM.MM.MM.MMM..EEEEEEEEEE.......PPPPPPPPPP...AAA.AAA....AGG...........GEEEEEEEEE..
//.RRRRRRRRRR...EEEEEEEEEE...SSSSSSSS...UUU.....UUU..MMM.MM.MM.MMM..EEEEEEEEEE.......PPPPPPPPP...AAA...AAA...AGG...GGGGGG..GEEEEEEEEE..
//.RRRRRRRR.....EEEEEEEEEE.....SSSSSSS..UUU.....UUU..MMM.MM.MM.MMM..EEEEEEEEEE.......PPPPPPPP....AAAAAAAAA...AGG...GGGGGG..GEEEEEEEEE..
//.RRR..RRRR....EEE................SSS..UUU.....UUU..MMM.MM.MM.MMM..EEE..............PPP.........AAAAAAAAA...AGG...GGGGGG..GEE.........
//.RRR...RRRR...EEE.........SSS....SSS..UUUU...UUUU..MMM..MMM..MMM..EEE..............PPP........PAAAAAAAAAA...GGG.....GGG..GEE.........
//.RRR....RRR...EEEEEEEEEE..SSSSSSSSSS...UUUUUUUUU...MMM..MMM..MMM..EEEEEEEEEE.......PPP........PAA.....AAA...GGGGGGGGGGG..GEEEEEEEEE..
//.RRR....RRRR..EEEEEEEEEE...SSSSSSSS....UUUUUUUUU...MMM..MMM..MMM..EEEEEEEEEE.......PPP........PAA.....AAA....GGGGGGGGG...GEEEEEEEEE..
//.RRR.....RRRR.EEEEEEEEEE....SSSSSS.......UUUUU.....MMM...M...MMM..EEEEEEEEEE.......PPP.......PPA.......AAA.....GGGGG.....GEEEEEEEEE..
//..................................................................................................................................... */


ul.columnlist {
    -moz-columns: 2;
    -webkit-columns: 2;
    columns: 2;
}

li.skills {
    color: black;
    font-size: 1rem;
    padding: 2rem 0;
    width: auto;
}

/* Resume Section Block Layout */


.resumesection {
    box-shadow: 0px 3px 6px;
}

.resumesection img {
    display: block;
    margin: 10px;
    width: 2rem
}

.experiencetitle h2 {
    color: black;
    font-family: RalewayExtraBold;
    font-size: 2rem;
    padding: 0 3rem;
    position: relative;
    text-align: left;
}

.experiencetitle h3 {
    color: black;
    font-family: RalewayRegular;
    padding: 0 3rem;
    text-align: left;
}

.experiencetitle ul {
    padding: 3rem;
}

.experiencetitle ul li {
    font-size: 1.5rem;
    margin: 0 0 2rem 0;
}

.section ul li {
    font-size: 1rem;
}

.section {
    padding: 10px;
}

#resume {
    position: relative;
    top: -5rem;
}


h1.resumetop {
    color: black;
    display: block;
    font-family: RalewayExtraBold;
    font-size: 2.5rem;
    margin: 0 auto;
    object-fit: fill;
    padding: 20px;
    position: relative;
    text-align: center;
    top: -4rem;
}

h2.resumetop {
    color: black;
    display: block;
    font-family: RalewayThin;
    margin: 0 auto;
    object-fit: fill;
    padding: 20px;
    position: relative;
    text-align: center;
    top: -4rem;
}

div.resumesection h2 {
    color: white;
    position: relative;
    top: 0.75rem;
}

div.resumesection h3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


.section ul li {
    font-size: 1rem;
}

.section p {
    font-size: 1.3rem;
}


.application p {
    clear: both;
    font-family: RalewayExtraBold;
    font-size: 1rem;
    text-align: center;
}

/* Gallery */

.applicationsused {
    width: auto;
    background-color: white;
}

.applicationsused h1 {
    color: black;
    display: block;
    font-family: RalewayThin;
    font-size: 2rem;
    margin: 0 auto;
    object-fit: fill;
    text-align: center;
    text-transform: uppercase;
}

.appgallery {
    clear: both;
    display: grid;
    grid-auto-rows: minmax(15px, auto);
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

div.app {
    float: left;
    justify-content: center;
    margin: 10px auto;
    padding: 10px;
    width: auto;
}

.application {
    font-family: RalewaySemiBold;
    font-size: 1rem;
}

div.app img {
    max-width: 70px;
}
