
/*! Header */
body {
    width: fit-content;
}

header {
    width: auto;
}


/*! Banner (+Text) */

.banner {
    position: relative;
    text-align: center;
}

.banner img {
    width: 100%;
}


.centered {
    font-family: RalewaySemiBold;
    font-size: 2.4rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}


/*! Dividers */

hr.dashed {
    border-top: 3px dashed #bbb;
    display: inline-block;
  }

.container {
    clear: both;
}

/*! //...................................................
//.FFFFFFFFF......OOOO......NNN.....NNN.NTTTTTTTTTT..
//.FFFFFFFFF....OOOOOOOO....NNNN....NNN.NTTTTTTTTTT..
//.FFFFFFFFF...OOOOOOOOOO...NNNNN...NNN.NTTTTTTTTTT..
//.FFF.........OOO....OOO...NNNNN...NNN.....TTT......
//.FFF........OOO......OOO..NNNNNN..NNN.....TTT......
//.FFFFFFFF...OOO......OOO..NNN.NN..NNN.....TTT......
//.FFFFFFFF...OOO......OOO..NNN.NNN.NNN.....TTT......
//.FFFFFFFF...OOO......OOO..NNN..NN.NNN.....TTT......
//.FFF........OOO......OOO..NNN..NNNNNN.....TTT......
//.FFF.........OOO....OOO...NNN...NNNNN.....TTT......
//.FFF.........OOOOOOOOOO...NNN...NNNNN.....TTT......
//.FFF..........OOOOOOOO....NNN....NNNN.....TTT......
//.FFF............OOOO......NNN.....NNN.....TTT......
//................................................... */

@font-face {
    font-family: "RalewayRegular";
    src: url("../fonts/Raleway-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "RalewaySemiBold";
    src: url("../fonts/Raleway-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "RalewayThin";
    src: url("../fonts/Raleway-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "RalewayLight";
    src: url("../fonts/Raleway-Light.ttf") format("truetype");
}

@font-face {
    font-family: "RalewayExtraBold";
    src: url("../fonts/Raleway-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "Cabin";
    src: url("../fonts/Cabin-Regular.ttf") format("truetype");
}


/*! Logo */

#logo {
    display: block;
    text-align: left;
    width: 60%;
}


/*! 
//.............................................................................
//.FFFFFFFFF......OOOO..........OOOO.....OTTTTTTTTTT.EEEEEEEEEE..RRRRRRRRR.....
//.FFFFFFFFF....OOOOOOOO......OOOOOOOO...OTTTTTTTTTT.EEEEEEEEEE..RRRRRRRRRR....
//.FFFFFFFFF...OOOOOOOOOO....OOOOOOOOOO..OTTTTTTTTTT.EEEEEEEEEE..RRRRRRRRRRR...
//.FFF.........OOO....OOO....OOO....OOO......TTT.....EEE.........RRR.....RRR...
//.FFF........OOO......OOO..OOO......OOO.....TTT.....EEE.........RRR.....RRR...
//.FFFFFFFF...OOO......OOO..OOO......OOO.....TTT.....EEEEEEEEEE..RRRRRRRRRRR...
//.FFFFFFFF...OOO......OOO..OOO......OOO.....TTT.....EEEEEEEEEE..RRRRRRRRRR....
//.FFFFFFFF...OOO......OOO..OOO......OOO.....TTT.....EEEEEEEEEE..RRRRRRRR......
//.FFF........OOO......OOO..OOO......OOO.....TTT.....EEE.........RRR..RRRR.....
//.FFF.........OOO....OOO....OOO....OOO......TTT.....EEE.........RRR...RRRR....
//.FFF.........OOOOOOOOOO....OOOOOOOOOO......TTT.....EEEEEEEEEE..RRR....RRR....
//.FFF..........OOOOOOOO......OOOOOOOO.......TTT.....EEEEEEEEEE..RRR....RRRR...
//.FFF............OOOO..........OOOO.........TTT.....EEEEEEEEEE..RRR.....RRRR..
//............................................................................. */

footer {
    background-color: rgb(33, 43, 65);
    color: #ffffff;
    font: 1rem, arial; 
    list-style: none;
    padding: 10px;
    text-align: center;
}


.socialmedia a img {
    display: inline-block;
    list-style-type: none;
    padding: 10px;
    width: 3rem;
}

/*! //................................................................................................
//.HHH.....HHH..EEEEEEEEEE.....AAAAA.....DDDDDDDD.....III..NNN.....NNN......GGGGG.......SSSSSS....
//.HHH.....HHH..EEEEEEEEEE.....AAAAA.....DDDDDDDDDD...III..NNNN....NNN....GGGGGGGGG....SSSSSSSS...
//.HHH.....HHH..EEEEEEEEEE.....AAAAA.....DDDDDDDDDD...III..NNNNN...NNN...GGGGGGGGGG...SSSSSSSSSS..
//.HHH.....HHH..EEE...........AAA.AAA....DDD....DDDD..III..NNNNN...NNN...GGG....GGGG..SSS....SSS..
//.HHH.....HHH..EEE...........AAA.AAA....DDD.....DDD..III..NNNNNN..NNN..GGG......GG...SSS.........
//.HHHHHHHHHHH..EEEEEEEEEE....AAA.AAA....DDD.....DDD..III..NNN.NN..NNN..GGG...........SSSSSSS.....
//.HHHHHHHHHHH..EEEEEEEEEE...AAA...AAA...DDD.....DDD..III..NNN.NNN.NNN..GGG...GGGGGG...SSSSSSSS...
//.HHHHHHHHHHH..EEEEEEEEEE...AAAAAAAAA...DDD.....DDD..III..NNN..NN.NNN..GGG...GGGGGG.....SSSSSSS..
//.HHH.....HHH..EEE..........AAAAAAAAA...DDD.....DDD..III..NNN..NNNNNN..GGG...GGGGGG.........SSS..
//.HHH.....HHH..EEE.........AAAAAAAAAAA..DDD....DDDD..III..NNN...NNNNN...GGG.....GGG..SSS....SSS..
//.HHH.....HHH..EEEEEEEEEE..AAA.....AAA..DDDDDDDDDD...III..NNN...NNNNN...GGGGGGGGGGG..SSSSSSSSSS..
//.HHH.....HHH..EEEEEEEEEE..AAA.....AAA..DDDDDDDDDD...III..NNN....NNNN....GGGGGGGGG....SSSSSSSS...
//.HHH.....HHH..EEEEEEEEEE.EAA.......AAA.DDDDDDDD.....III..NNN.....NNN......GGGGG.......SSSSSS....
//................................................................................................ */

h1 {
    color: black;
    font-family: RalewayRegular;
    font-size: 3rem;
    text-align: left;
    text-transform: uppercase;
}


h2 {
    color: black;
    font-family: RalewaySemiBold;
    text-align: center;
    text-transform: uppercase;
}


body {
    font-family: Cabin;
}

/*! Paragraphs */


p {
    font-family: Cabin;
    font-size: 1.4rem;
    line-height: 1.75;
    padding: 0.5rem 2rem;
    text-align: left;
}

/*! //........................................................................
//.III..MMMM.....MMMM.....AAAAA.........GGGGG.....EEEEEEEEEE....SSSSSS....
//.III..MMMM.....MMMM.....AAAAA.......GGGGGGGGG...EEEEEEEEEE...SSSSSSSS...
//.III..MMMMM...MMMMM.....AAAAA......GGGGGGGGGG...EEEEEEEEEE..SSSSSSSSSS..
//.III..MMMMM...MMMMM....AAA.AAA.....GGG....GGGG..EEE.........SSS....SSS..
//.III..MMMMM...MMMMM....AAA.AAA....GGG......GG...EEE.........SSS.........
//.III..MMM.MM.MM.MMM....AAA.AAA....GGG...........EEEEEEEEEE..SSSSSSS.....
//.III..MMM.MM.MM.MMM...AAA...AAA...GGG...GGGGGG..EEEEEEEEEE...SSSSSSSS...
//.III..MMM.MM.MM.MMM...AAAAAAAAA...GGG...GGGGGG..EEEEEEEEEE.....SSSSSSS..
//.III..MMM.MM.MM.MMM...AAAAAAAAA...GGG...GGGGGG..EEE................SSS..
//.III..MMM..MMM..MMM..AAAAAAAAAAA...GGG.....GGG..EEE.........SSS....SSS..
//.III..MMM..MMM..MMM..AAA.....AAA...GGGGGGGGGGG..EEEEEEEEEE..SSSSSSSSSS..
//.III..MMM..MMM..MMM..AAA.....AAA....GGGGGGGGG...EEEEEEEEEE...SSSSSSSS...
//.III..MMM...M...MMM.MAA.......AAA.....GGGGG.....EEEEEEEEEE....SSSSSS....
//........................................................................ */


img {
    height: auto;
    width: fit-content;
}

/*!
//........................................................................................
//.BBBBBBBBB....UUU.....UUU.UTTTTTTTTTTTTTTTTTTTTT.....OOOO......NNN.....NNN....SSSSSS....
//.BBBBBBBBBB...UUU.....UUU.UTTTTTTTTTTTTTTTTTTTTT...OOOOOOOO....NNNN....NNN...SSSSSSSS...
//.BBBBBBBBBBB..UUU.....UUU.UTTTTTTTTTTTTTTTTTTTTT..OOOOOOOOOO...NNNNN...NNN..SSSSSSSSSS..
//.BBB.....BBB..UUU.....UUU.....TTT........TTT......OOO....OOO...NNNNN...NNN..SSS....SSS..
//.BBB.....BBB..UUU.....UUU.....TTT........TTT.....OOO......OOO..NNNNNN..NNN..SSS.........
//.BBBBBBBBBB...UUU.....UUU.....TTT........TTT.....OOO......OOO..NNN.NN..NNN..SSSSSSS.....
//.BBBBBBBBB....UUU.....UUU.....TTT........TTT.....OOO......OOO..NNN.NNN.NNN...SSSSSSSS...
//.BBBBBBBBBB...UUU.....UUU.....TTT........TTT.....OOO......OOO..NNN..NN.NNN.....SSSSSSS..
//.BBB.....BBB..UUU.....UUU.....TTT........TTT.....OOO......OOO..NNN..NNNNNN.........SSS..
//.BBB.....BBB..UUUU...UUUU.....TTT........TTT......OOO....OOO...NNN...NNNNN..SSS....SSS..
//.BBBBBBBBBBB...UUUUUUUUU......TTT........TTT......OOOOOOOOOO...NNN...NNNNN..SSSSSSSSSS..
//.BBBBBBBBBB....UUUUUUUUU......TTT........TTT.......OOOOOOOO....NNN....NNNN...SSSSSSSS...
//.BBBBBBBBB.......UUUUU........TTT........TTT.........OOOO......NNN.....NNN....SSSSSS....
//........................................................................................
*/


button {
    background-color: white;
    border-radius: 40px;
    border: 2px solid black;
    color: black;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}


/*Recent Project Secction*/

.recent a {
    text-decoration: none;
}


/*//.........................................................................................
//.WWW....WWW....WWW.HHH.....HHH......OOOO..............AAAAA.....MMMM.....MMMM.......III..
//.WWW....WWW....WWW.HHH.....HHH....OOOOOOOO............AAAAA.....MMMM.....MMMM.......III..
//.WWW...WWWWW...WWW.HHH.....HHH...OOOOOOOOOO...........AAAAA.....MMMMM...MMMMM.......III..
//..WWW..WW.WW..WWW..HHH.....HHH...OOO....OOO..........AAA.AAA....MMMMM...MMMMM.......III..
//..WWW..WW.WW..WWW..HHH.....HHH..OOO......OOO.........AAA.AAA....MMMMM...MMMMM.......III..
//..WWW.WWW.WWW.WWW..HHHHHHHHHHH..OOO......OOO.........AAA.AAA....MMM.MM.MM.MMM.......III..
//..WWW.WWW.WWW.WWW..HHHHHHHHHHH..OOO......OOO........AAA...AAA...MMM.MM.MM.MMM.......III..
//..WWW.WW...WW.WWW..HHHHHHHHHHH..OOO......OOO........AAAAAAAAA...MMM.MM.MM.MMM.......III..
//..WWW.WW...WW.WWW..HHH.....HHH..OOO......OOO........AAAAAAAAA...MMM.MM.MM.MMM.......III..
//...WWWWW...WWWWW...HHH.....HHH...OOO....OOO........AAAAAAAAAAA..MMM..MMM..MMM.......III..
//...WWWWW...WWWWW...HHH.....HHH...OOOOOOOOOO........AAA.....AAA..MMM..MMM..MMM.......III..
//...WWWW.....WWWW...HHH.....HHH....OOOOOOOO.........AAA.....AAA..MMM..MMM..MMM.......III..
//...WWWW.....WWWW...HHH.....HHH......OOOO..........AAA.......AAA.MMM...M...MMM.......III..
//.........................................................................................n*/


.who {
    background-color: white;
    box-sizing: border-box;
    display: inline-block;
}


.who h1 {
    color: black;
    display: block;
    font-family: RalewaySemiBold;
    margin: 0 auto;
    object-fit: fill;
    padding: 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: -.75rem;
}

img.portrait {
    border-radius: 50%;
    box-shadow: 0px 1px 6px black;
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

/*! Comeback */


div.group {
    margin: 0 20px;
}



/*
//..............................................................................
//...SSSSSS...STTTTTTTTTT.RRRRRRRRR....III..PPPPPPPP....EEEEEEEEEE....SSSSSS....
//..SSSSSSSS..STTTTTTTTTT.RRRRRRRRRR...III..PPPPPPPPP...EEEEEEEEEE...SSSSSSSS...
//.SSSSSSSSSS.STTTTTTTTTT.RRRRRRRRRRR..III..PPPPPPPPPP..EEEEEEEEEE..SSSSSSSSSS..
//.SSS....SSS.....TTT.....RRR.....RRR..III..PPP....PPP..EEE.........SSS....SSS..
//.SSS............TTT.....RRR.....RRR..III..PPP....PPP..EEE.........SSS.........
//.SSSSSSS........TTT.....RRRRRRRRRRR..III..PPPPPPPPPP..EEEEEEEEEE..SSSSSSS.....
//..SSSSSSSS......TTT.....RRRRRRRRRR...III..PPPPPPPPP...EEEEEEEEEE...SSSSSSSS...
//....SSSSSSS.....TTT.....RRRRRRRR.....III..PPPPPPPP....EEEEEEEEEE.....SSSSSSS..
//........SSS.....TTT.....RRR..RRRR....III..PPP.........EEE................SSS..
//.SSS....SSS.....TTT.....RRR...RRRR...III..PPP.........EEE.........SSS....SSS..
//.SSSSSSSSSS.....TTT.....RRR....RRR...III..PPP.........EEEEEEEEEE..SSSSSSSSSS..
//..SSSSSSSS......TTT.....RRR....RRRR..III..PPP.........EEEEEEEEEE...SSSSSSSS...
//...SSSSSS.......TTT.....RRR.....RRRR.III..PPP.........EEEEEEEEEE....SSSSSS....
//..............................................................................
*/


.stripes {
    background-color: black;
    margin: 1rem 0;
    padding: 2px 0;
}


/*! //......................................................................................................................................................................
//.RRRRRRRRR....EEEEEEEEEE......CCCC.....EEEEEEEEEE..NNN.....NNN.NTTTTTTTTTT......PPPPPPPP....RRRRRRRRR........OOOO...........JJJ..EEEEEEEEEE......CCCC....CTTTTTTTTTT..
//.RRRRRRRRRR...EEEEEEEEEE....CCCCCCCC...EEEEEEEEEE..NNNN....NNN.NTTTTTTTTTT......PPPPPPPPP...RRRRRRRRRR.....OOOOOOOO.........JJJ..EEEEEEEEEE....CCCCCCCC..CTTTTTTTTTT..
//.RRRRRRRRRRR..EEEEEEEEEE...CCCCCCCCC...EEEEEEEEEE..NNNNN...NNN.NTTTTTTTTTT......PPPPPPPPPP..RRRRRRRRRRR...OOOOOOOOOO........JJJ..EEEEEEEEEE...CCCCCCCCC..CTTTTTTTTTT..
//.RRR.....RRR..EEE..........CCC...CCCC..EEE.........NNNNN...NNN.....TTT..........PPP....PPP..RRR.....RRR...OOO....OOO........JJJ..EEE..........CCC...CCCC.....TTT......
//.RRR.....RRR..EEE.........CCC.....CC...EEE.........NNNNNN..NNN.....TTT..........PPP....PPP..RRR.....RRR..OOO......OOO.......JJJ..EEE.........CCC.....CC......TTT......
//.RRRRRRRRRRR..EEEEEEEEEE..CCC..........EEEEEEEEEE..NNN.NN..NNN.....TTT..........PPPPPPPPPP..RRRRRRRRRRR..OOO......OOO.......JJJ..EEEEEEEEEE..CCC.............TTT......
//.RRRRRRRRRR...EEEEEEEEEE..CCC..........EEEEEEEEEE..NNN.NNN.NNN.....TTT..........PPPPPPPPP...RRRRRRRRRR...OOO......OOO.......JJJ..EEEEEEEEEE..CCC.............TTT......
//.RRRRRRRR.....EEEEEEEEEE..CCC..........EEEEEEEEEE..NNN..NN.NNN.....TTT..........PPPPPPPP....RRRRRRRR.....OOO......OOO.......JJJ..EEEEEEEEEE..CCC.............TTT......
//.RRR..RRRR....EEE.........CCC.....CC...EEE.........NNN..NNNNNN.....TTT..........PPP.........RRR..RRRR....OOO......OOO.OJJ...JJJ..EEE.........CCC.....CC......TTT......
//.RRR...RRRR...EEE..........CCC...CCCC..EEE.........NNN...NNNNN.....TTT..........PPP.........RRR...RRRR....OOO....OOO..OJJ...JJJ..EEE..........CCC...CCCC.....TTT......
//.RRR....RRR...EEEEEEEEEE...CCCCCCCCC...EEEEEEEEEE..NNN...NNNNN.....TTT..........PPP.........RRR....RRR....OOOOOOOOOO..OJJJJJJJJ..EEEEEEEEEE...CCCCCCCCC......TTT......
//.RRR....RRRR..EEEEEEEEEE....CCCCCCCC...EEEEEEEEEE..NNN....NNNN.....TTT..........PPP.........RRR....RRRR....OOOOOOOO....JJJJJJJ...EEEEEEEEEE....CCCCCCCC......TTT......
//.RRR.....RRRR.EEEEEEEEEE......CCCC.....EEEEEEEEEE..NNN.....NNN.....TTT..........PPP.........RRR.....RRRR.....OOOO.......JJJJJ....EEEEEEEEEE......CCCC........TTT......
//...................................................................................................................................................................... */

.project a {
    color: black;
}

div.topdescription {
    background-color: white;
    clear: both;
    display: inline;
    position: relative;
}

/*! Main Heading for Recent Project */


.topdescription h3 {
    align-items: center;
    color: black;
    font-family: Cabin;
    font-size: 2.2rem;
    margin: auto 0;
    padding: 10px 0;
    position: relative;
    text-align: center;
    top: 0.50rem;
}

/*! Subheading for Recent Project */


.topdescription h4 {
    align-items: center;
    background-color: white;
    font-family: Cabin;
    font-size: 0.9rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    top: -0.5rem;
}

/*! Scaling Recent Project Banner */


.recent img {
    width: 100%;
}

.icon img {
    align-items: center;
    display: block;
    margin: auto 0;
    position: relative;
    text-align: center;
    width: 20%;
}


div.featured img {
    clear: both;
}

div.description img {
    object-fit: scale-down;
}


/*! Containers */



.buttoncontainer {
    height: 200px;
    margin: auto 0;
    position: relative;
}

.center {
    box-sizing: border-box;
    display: inline-block;
    justify-content: center;
    left: 25%;
    position: relative;
}


#whitevariation {
    color: white;
}